body{

    background:#edf2f7;

}

.hero h1{

    color:#0d6efd;

}

.hero p{

    color:#555;

}

.search-card{

    background:white;
    padding:20px;
    border-radius:15px;

}

.card{

    border:none;
    border-radius:15px;
    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

}

.card-header{

    background:#0d6efd;
    color:white;
    font-weight:bold;

}

.badge{

    margin:4px;

}

.empty{

    text-align:center;
    font-size:22px;
    margin-top:50px;
    color:red;

}